{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="col-lg-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Alumno</th>
        <th>Clases regulares</th>
        <th>Consolidaciones de valores</th>
          <th>Devolucion solidaria</th>
      </tr>
    </thead>
    <tbody>


{% for alumno in alumnos %}

{% if alumno.clase != 0 %}
{% if alumno.consolidacion != 0 %}
      <tr class="warning">
{% else %}
      <tr>
{% endif %}
        <td>{{alumno}}</td>
        <td>{{ alumno.clase}}</td>
        <td>{{ alumno.consolidacion}}</td>
        <td>{{ alumno.devolucion}}</td>
      </tr>
{% endif %}
{% endfor %}
      <tr style="border-top:solid">
      <td><b>TOTAL</b></td>
      <td><b>{{clase}}</b></td>
      <td><b>{{consolidacion}}</b></td>
      <td><b>{{devolucion}}</b></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-2">
  <div class="panel panel-default">
  <div class="panel-heading">Desercion en Consolidaciones</div>
  <div class="panel-body">
    {{perconsolidacion}}%
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Desercion en Devolucion
  </div>
  <div class="panel-body">
    {{perdevolucion}}%
  </div>
</div>

</div>
</div>

{% endblock content %}

